<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <!-- <h1>Welcome to My Node.js EJS MySQL App</h1> -->
    </header>
    <main>
        <h2>마이웨이(가제)</h2>
        <p>나만의 서브웨이 샌드위치 메뉴 저장하기</p>
        <div class="login-container">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">USERNAME:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- <p>&copy; 2023 My Node.js EJS MySQL App</p> -->
    </footer>
</body>
</html>