body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #f8f8f8;
}

main {
    text-align: center;
    padding: 2em;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px; /* Adjust height as needed */
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

label {
    margin-bottom: 5px; /* Add some space between label and input */
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center; /* Center the button horizontally */
}

.login-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.complete-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center; /* Center the button horizontally */
}

.complete-button:hover {
    background-color: #218838;
}

.details {
    display: none;
}